@charset "utf-8";

html,body {width:100%;  font-family:'Noto Sans KR','Malgun Gothic', 'Nanum Myeongjo', '맑은고딕','Nanum Gothic','돋움',dotum,'굴림',gulim,Helvetica,sans-serif; letter-spacing:-0.3px; font-size:16px;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, button,textarea {margin:0;padding:0}
img,fieldset,iframe{border:0 none;}
img {vertical-align: middle;}
legend, hr, caption{width:0;height:0;position:absolute;visibility:hidden;overflow:hidden;display:none;}
ol, ul ,li{ list-style:none;}
input, button, select, textarea {vertical-align:middle;}
input {padding:1%;}
select {padding:5px; background:#fff; }
em,address {font-style:normal}
fieldset {border:none;}
label,button {cursor:pointer}
button{margin:0;padding:0;}
table {border-spacing:0;border: 0 none;word-wrap:break-word;border-collapse:collapse;}
hr, legend, caption { overflow:hidden; position:absolute; left:0; top:0; width:0; height:1px; font-size:0; line-height:0; visibility:hidden; }
input, textarea, select, button{font-family:'Noto Sans KR','Nanum Myeongjo','Malgun Gothic','맑은고딕','Nanum Gothic','돋움',dotum,'굴림',gulim,Helvetica,sans-serif;}
caption {width:0;height:0;visibility:hidden;line-height:0;font-size:0}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q { quotes: "" "";}
textarea{}
a {text-decoration:none;}
a:hover,a:active {text-decoration:none; cursor:pointer; color: #444;}
a:focus {outline: 1px dotted #a0a0a0;}
input[type=checkbox]:focus {outline: 1px dotted #a0a0a0;}
a img {border:0;}
ul,li,a {margin:0; padding:0;}

.pt10 {padding-top:10px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}
.pt60 {padding-top:60px;}
.pt70 {padding-top:70px;}
.pt5 {padding-top:5px;}

.pb20 {padding-bottom:20px;}

.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt5 {margin-top:5px;}

.mb50 {margin-bottom:50px;}
.mb30 {margin-bottom:30px;}
.mb20 {margin-bottom:20px;}
.mb10 {margin-bottom:10px;}
.mb5 {margin-bottom:5px;}
.ml0 {margin-left:0;}

.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}

.mr10 {margin-right:10px;}

/*ellipsis.js 관련 css*/
.ellipsis {overflow: hidden;}

/*아이폰 클릭 이벤트 호환성 문제 개선*/
@media all and (max-width:768px) {
    a {cursor: pointer;}
}